<h1>Convert <%= params.fetch("currency") %> to <%= params.fetch("conversion") %> </h1>

<p>1 <%= params.fetch("currency") %> equals <%=@converted_result%> <%= params.fetch("conversion") %>. </p>




       
