<h1> Convert <%= params.fetch("currency") %></h1>

<ul>

  <%@z.each do |b,c| %>
    <li>
      <a href = <%= params.fetch("currency") %>/<%=b%>>
      Convert 1 <%= params.fetch("currency") %> to <%=b%>...
      </a>
    </li>
  <%end%>
</ul>
